@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, body, #root {
    @apply h-full w-full bg-black text-white antialiased selection:bg-white/30 selection:text-white m-0 p-0 font-sans;
  }
}

@layer utilities {
  .glass-panel {
    @apply bg-white/5 backdrop-blur-xl border border-white/10 shadow-2xl;
  }
  .glass-button {
    @apply bg-white/5 hover:bg-white/10 border border-white/10 backdrop-blur-md text-white transition-all duration-300;
  }
  .glass-input {
    @apply bg-black/50 border border-white/20 text-white placeholder-zinc-500 focus:border-white focus:ring-1 focus:ring-white transition-all duration-300;
  }
  
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
}
